.sidebar {
  background-color: #f8f8f8;
  height: 90vh;
  width: 10%;
  min-width: 200px;
  padding: 20px;
}
.sidebar span {
  display: block;
  margin: 10px;
  font-weight: bold;
}
.sidebar span svg {
  color: #ff3377;
  cursor: pointer;
}
.projectList {
  list-style-type: none;
  padding: 0px;
}
.projectList li {
  margin: 10px;
  font-weight: bold;
  color: #b6b6b6;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}
.projectList img {
  margin-right: 5px;
  opacity: 0.5;
}
.projectList .ActivePorject img {
  opacity: 1;
}
.projectList .ActivePorject {
  border: 1px;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
  cursor: default;
}
